@model IEnumerable<GRII_TEST.Models.Slider>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>GRII Solo - Gereja Reformed Injili Indonesia</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/GRIITEST/Index">
                <img src="~/images/logoGRIITransparan.png" alt="..." height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/GRIITEST/Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tentang Kami
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/GRIITEST/Visi_Misi">Visi dan Misi</a></li>
                            <li><a class="dropdown-item" href="/GRIITEST/Pengakuan_Iman">Pengakuan Iman</a></li>
                            <li><a class="dropdown-item" href="/GRIITEST/Beban_Doa">Beban Doa</a></li>
                            <li><a class="dropdown-item" href="/GRIITEST/Profil_Hamba_Tuhan">Profil Hamba Tuhan</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GRIITEST/Gerakan_Grii">GERAKAN REFORMED INJILI INDONESIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GRIITEST/Kegiatan">KEGIATAN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/final-frontpage.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div class="col-md-12 page-content-wrap  col-md-offset-2">
        <div class="row">
            <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
            <div class="col-md-12"><h1 class="hestia-title title-in-content" style="text-align:center"><strong>Beban Doa</strong></h1></div>
        </div>
        <h3 class="wp-block-heading"><strong>BEBAN KAMI</strong></h3>



        <p>Berdasarkan anugerah Tuhan dan iman kepercayaan yang diwariskan dari zaman ke zaman kepada kita, kami akan melayani zaman ini dengan menegakkan mimbar yang setia kepada Firman Tuhan serta memberikan kabar baik yaitu Injil Kristus kepada sesama manusia. Beserta semua kaum pilihan Tuhan di seluruh dunia, kami ingin melihat gereja yang teguh didirikan sebagai saksi Kristus, untuk menyongsong abad yang akan datang.</p>



        <h3 class="wp-block-heading"><strong>DOA KAMI</strong></h3>



        <p>Kami berdoa kiranya Roh Tuhan menggenapi setiap Firman yang dikotbahkan dari mimbar ini. Kami berdoa kiranya setiap jemaat yang mendengar Firman dari mimbar ini memperoleh iman yang sejati melalui Firman-Nya. Kami berdoa kiranya manusia yang taat kepada Firman-Nya boleh mengalami keselamatannya di dalam Injil-Nya dan menjadi lebih sempurna seperti Tuhan kita. Kami berdoa kiranya mimbar ini menggugah hati nurani umat Tuhan yang hidup saleh dan benar di hadapan-Nya, hidup penuh kasih dan adil di dalam tubuh Kristus, serta bertanggung jawab di dalam seluruh segi hidupnya sebagai saksi Injil Kristus di dalam dunia. Kiranya segala kemuliaan kembali bagi Tuhan pemberi Firman kepada manusia. Damai sejahtera memerintah setiap jiwa yang dikasihi-Nya sampai selama-lamanya. Tuhan berkatilah dan pimpinlah pelayanan mimbar ini sampai kehendak-Mu jadi. Nyatakanlah visi-Mu kepada umat-Mu, panggillah hamba-hamba-Mu bagi penuaian ladang-Mu. Berkatilah bangsaku melalui mimbar ini. Kabulkanlah doa hamba-Mu.</p>



        <h4 class="has-medium-font-size wp-block-heading">Pdt. Dr. Stephen Tong</h4>


        <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>