@model IEnumerable<GRII_TEST.Models.Slider>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>GRII Solo - Gereja Reformed Injili Indonesia</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/GRIITEST/Index">
                <img src="~/images/logoGRIITransparan.png" alt="..." height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/GRIITEST/Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tentang Kami
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/GRIITEST/Visi_Misi">Visi dan Misi</a></li>
                            <li><a class="dropdown-item" href="/GRIITEST/Pengakuan_Iman">Pengakuan Iman</a></li>
                            <li><a class="dropdown-item" href="/GRIITEST/Beban_Doa">Beban Doa</a></li>
                            <li><a class="dropdown-item" href="/GRIITEST/Profil_Hamba_Tuhan">Profil Hamba Tuhan</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GRIITEST/Gerakan_Grii">GERAKAN REFORMED INJILI INDONESIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GRIITEST/Kegiatan">KEGIATAN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/final-frontpage.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div class="col-md-12 page-content-wrap  col-md-offset-2">
        <div class="row">
            <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
            <div class="col-md-12"><h1 class="hestia-title title-in-content" style="text-align:center"><strong>Profil Hamba Tuhan</strong></h1></div>
        </div>
        <h3 class="wp-block-heading"><strong>Pdt. Dr. Stephen Tong</strong></h3>
        <p>Dr. Stephen Tong memulai pelayanannya ketika berumur 17 tahun. Selama 60 tahun melayani, beliau sudah memperkenalkan Kristus kepada lebih dari 33 juta jiwa. Beliau merupakan penginjil yang terkenal di dunia dan sudah berkhotbah di Asia, Eropa, Australia, Amerika Utara, dan Amerika Selatan. Dengan fondasi Theologi Reformed, Dr. Tong sudah memanggil kurang lebih 450.000 orang untuk menjadi hamba Tuhan penuh waktu. Beliau juga sering kali diundang untuk mengajar pada seminari-seminari di Asia dan Amerika Utara. Sebagai pendeta, Dr. Tong mendirikan Gereja Reformed Injili Indonesia (GRII), Reformed Institute for Christianity and 21st Century di Washington DC, dan STT Reformed Injili Internasional (STTRII) di Jakarta. Beliau juga mendapatkan gelar Honorary Doctorate of Divinity dari Westminster Theological Seminary. Dr. Tong sudah menulis 75 buku, termasuk di dalamnya Theologi Penginjilan dan Dosa dan Kebudayaan.</p>


        <p></p>


        <h3 class="wp-block-heading"><strong>Pdt. Dawis Waiman</strong></h3>
        <p>Pdt. Dawis Waiman lulus Sarjana Teknik Elektro tahun 1999. Menggembalakan di GRII Jogja sejak 2010 bersama mengajar STRIY. Menggembalakan di GRII Solo sejak 1 Maret 2018 bersama mengajar di STRISKA.</p>



        <p></p>


        <h3 class="wp-block-heading"><strong>Vik. Nathanael Marvin Santino</strong></h3>
        <p>Vik. Nathanael Marvin Santino menyelesaikan studi S1 Manajemen di Universitas Katolik Parahyangan Bandung dan melanjutkan studi di STTRI Internasional Jakarta. Sebelum melayani di GRII Solo dan GRII Yogyakarta, Vik. Marvin sempat melayani di GRII Semarang dari Agustus 2016 hingga Mei 2021.</p>


        <p></p>

        <h3 class="wp-block-heading"><strong>Vik. Lukman Sabtiyadi</strong></h3>
        <p>Vik. Lukman Sabtiyadi menyelesaikan program studi musik gerejawi di STTRI Internasional. Ia melanjutkan studi magister filsafat di STF Driyarkara. Selama di GRII, Ia pernah melayani di GRII Pusat dan beberapa cabang lainnya.</p>


        <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>